In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing

In [2]:
train_data = pd.read_csv(r"../Data/Corrected Datasets/train-dataset.csv", header = 0)
test_data = pd.read_csv(r"../Data/Corrected Datasets/test-dataset.csv", header = 0)
validation_data = pd.read_csv(r"../Data/Corrected Datasets/validation-dataset.csv", header = 0)

In [3]:
data_cat_cols = ['Gender', 'Ethnicity', 'Educational_Level', 'Income', 'Country_region',
                 'Hotel_Type', 'Meal_Type', 'Visted_Previously',
                 'Previous_Cancellations', 'Deposit_type', 'Booking_channel',
                 'Required_Car_Parking', 'Use_Promotion']

In [4]:
validation_data_cat = validation_data[data_cat_cols]

In [5]:
validation_data_cat.head()

,Gender,Ethnicity,Educational_Level,Income,Country_region,Hotel_Type,Meal_Type,Visted_Previously,Previous_Cancellations,Deposit_type,Booking_channel,Required_Car_Parking,Use_Promotion
0,M,caucasian,Grad,<25K,West,Resort,HB,No,No,No Deposit,Agent,No,Yes
1,M,Latino,College,25K --50K,West,Resort,FB,Yes,No,No Deposit,Online,Yes,No
2,F,Asian American,College,<25K,North,Airport Hotels,FB,No,No,No Deposit,Direct,No,Yes
3,F,Latino,College,25K --50K,East,Airport Hotels,FB,Yes,No,Refundable,Direct,No,Yes
4,F,Asian American,College,25K --50K,South,City Hotel,HB,Yes,No,No Deposit,Online,Yes,Yes

In [6]:
one_hot = pd.get_dummies(validation_data_cat)

In [7]:
one_hot.head()

,Gender_F,Gender_M,Ethnicity_African American,Ethnicity_Asian American,Ethnicity_Latino,Ethnicity_caucasian,Educational_Level_College,Educational_Level_Grad,Educational_Level_High-School,Educational_Level_Mid-School,...,Deposit_type_No Deposit,Deposit_type_Non-Refundable,Deposit_type_Refundable,Booking_channel_Agent,Booking_channel_Direct,Booking_channel_Online,Required_Car_Parking_No,Required_Car_Parking_Yes,Use_Promotion_No,Use_Promotion_Yes
0,0,1,0,0,0,1,0,1,0,0,...,1,0,0,1,0,0,1,0,0,1
1,0,1,0,0,1,0,1,0,0,0,...,1,0,0,0,0,1,0,1,1,0
2,1,0,0,1,0,0,1,0,0,0,...,1,0,0,0,1,0,1,0,0,1
3,1,0,0,0,1,0,1,0,0,0,...,0,0,1,0,1,0,1,0,0,1
4,1,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,1,0,1,0,1

In [8]:
one_hot.columns

Index(['Gender_F', 'Gender_M', 'Ethnicity_African American',
       'Ethnicity_Asian American', 'Ethnicity_Latino', 'Ethnicity_caucasian',
       'Educational_Level_College', 'Educational_Level_Grad',
       'Educational_Level_High-School', 'Educational_Level_Mid-School',
       'Income_25K --50K', 'Income_50K -- 100K', 'Income_<25K', 'Income_>100K',
       'Country_region_East', 'Country_region_North', 'Country_region_South',
       'Country_region_West', 'Hotel_Type_Airport Hotels',
       'Hotel_Type_City Hotel', 'Hotel_Type_Resort', 'Meal_Type_BB',
       'Meal_Type_FB', 'Meal_Type_HB', 'Visted_Previously_No',
       'Visted_Previously_Yes', 'Previous_Cancellations_No',
       'Previous_Cancellations_Yes', 'Deposit_type_No Deposit',
       'Deposit_type_Non-Refundable', 'Deposit_type_Refundable',
       'Booking_channel_Agent', 'Booking_channel_Direct',
       'Booking_channel_Online', 'Required_Car_Parking_No',
       'Required_Car_Parking_Yes', 'Use_Promotion_No', 'Use_Promotion_Yes'],
      dtype='object')

In [11]:
validation_data = validation_data.drop(data_cat_cols, axis=1)

In [13]:
validation_data.head()

,Reservation-id,Age,Adults,Children,Babies,Reservation_Status,Discount_Rate,Room_Rate,Expected_stay_days,Reservation_gap
0,45716350,56,2,2,0,No-Show,15,192,2,195
1,88857401,60,2,2,0,Canceled,0,187,4,175
2,16074440,58,3,1,0,Canceled,10,227,1,193
3,10992124,23,1,2,0,Check-In,25,189,2,103
4,15934351,47,1,1,0,Check-In,10,218,1,92

In [14]:
validation_data_new = validation_data.join(one_hot)

In [15]:
validation_data_new.head()

,Reservation-id,Age,Adults,Children,Babies,Reservation_Status,Discount_Rate,Room_Rate,Expected_stay_days,Reservation_gap,...,Deposit_type_No Deposit,Deposit_type_Non-Refundable,Deposit_type_Refundable,Booking_channel_Agent,Booking_channel_Direct,Booking_channel_Online,Required_Car_Parking_No,Required_Car_Parking_Yes,Use_Promotion_No,Use_Promotion_Yes
0,45716350,56,2,2,0,No-Show,15,192,2,195,...,1,0,0,1,0,0,1,0,0,1
1,88857401,60,2,2,0,Canceled,0,187,4,175,...,1,0,0,0,0,1,0,1,1,0
2,16074440,58,3,1,0,Canceled,10,227,1,193,...,1,0,0,0,1,0,1,0,0,1
3,10992124,23,1,2,0,Check-In,25,189,2,103,...,0,0,1,0,1,0,1,0,0,1
4,15934351,47,1,1,0,Check-In,10,218,1,92,...,1,0,0,0,0,1,0,1,0,1

In [17]:
validation_data_new.to_csv("validation_data_encoded.csv")